.container-slides {
    text-align: center;
}
.add-slide {
    height: 40px;
    width: 200px;
    border: none;
    cursor: pointer;
}
.title-input{
    height: 20px;
    outline: none;
    border: 1px solid #000000;
    border-radius: 0px;
    padding: 5px;
}

.slides-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: whitesmoke;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}

.slide{
    padding: 10px;
    background-color: black;
    width: 100px;
    cursor: pointer;
}
.slide:hover{
    background-color: white;
    color: black;
    border: #000000 solid 1px;
}